<div class="pet">
  <h2 class="pet-name">{{currentPet.name}}</h2>
  <p class="pet-species">{{currentPet.species}} {{currentPet.breed}}</p>
  <p class="pet-birth">Born on {{currentPet.birth | date}}</p>
  <p class="pet-adoption">Adopted on {{currentPet.adoption | date}}</p>
  @if (currentPet.death) {
    <p class="pet-death">Crossed rainbow on {{currentPet.death | date}}</p>
  } @else {
    <p class="pet-alive">Alive</p>
  }
  <div class="pet-colors">
    <ul>
      @for (color of currentPet.colors; track color) {
        <li>{{color}}</li>
      }
    </ul>
  </div>
  <div class="pet-image-container">
    <img src="{{currentPet.imgContent}}" alt="{{currentPet.name}}"/>
  </div>
  <div class="pet-actions">
    <button type="button" id="pet-{{currentPet.id}}"
    (click)="loadInfo(currentPet.id)">Load Info</button>
  </div>
</div>
