<div class="pet">
  <h2 class="pet-name">{{currentPet.name}}</h2>
  <p class="pet-species">{{currentPet.species}} {{currentPet.breed}}</p>
  <p class="pet-birth">Born on {{currentPet.birth | date}}</p>
  <p class="pet-adoption">Adopted on {{currentPet.adoption | date}}</p>
  <p class="pet-death" *ngIf="currentPet.death; else aliveTemplate">Crossed rainbow on {{currentPet.death | date}}</p>
  <ng-template #aliveTemplate>
    <p class="pet-alive">Alive</p>
  </ng-template>
  <div class="pet-colors">
    <ul>
      <li *ngFor="let color of currentPet.colors">{{color}}</li>
    </ul>
  </div>
  <div class="pet-image-container">
    <img src="{{currentPet.imgContent}}" alt="{{currentPet.name}}"/>
  </div>
  <div class="pet-actions">
    <button type="button" id="pet-{{currentPet.id}}"
      (click)="loadInfo(currentPet.id)">Load Info</button>
  </div>
</div>
