/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Variables */
@property --primary-color {
  initial-value: #D9D9D9;
  syntax: '<color>';
  inherits: false;
}

@property --secondary-color {
  initial-value: #A1B4D8;
  syntax: '<color>';
  inherits: false;
}

@property --tertiary-color {
  initial-value: #6E7599;
  syntax: '<color>';
  inherits: false;
}

@property --separator-color {
  initial-value: #8C7DE8;
  syntax: '<color>';
  inherits: false;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--primary-color);
}
