@use '@angular/material' as mat;
@use 'styles/m3-theme.scss';

@include mat.core();

// Use the default configuration.
$my-typography: mat.m2-define-typography-config(
  $font-family: "Calibri, sans-serif"
);
@include mat.typography-hierarchy($my-typography);

html {
  // Apply the light theme by default
  @include mat.core-theme(m3-theme.$light-theme);
  @include mat.button-theme(m3-theme.$light-theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Calibri, sans-serif;
}


/* Variables */
@property --primary-color {
  initial-value: #D9D9D9;
  syntax: '<color>';
  inherits: false;
}

@property --secondary-color {
  initial-value: #A1B4D8;
  syntax: '<color>';
  inherits: false;
}

@property --tertiary-color {
  initial-value: #6E7599;
  syntax: '<color>';
  inherits: false;
}

@property --separator-color {
  initial-value: #8C7DE8;
  syntax: '<color>';
  inherits: false;
}

@property --highlight-color {
  initial-value: #4b0082;
  syntax: '<color>';
  inherits: false;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--primary-color);
}


